.container {
  composes: container from '../../shared/styles/statusIndicatorBase.module.css';
  left: 48px;
}

.button {
  composes: button from '../../shared/styles/statusIndicatorBase.module.css';
}

.dot {
  composes: dot from '../../shared/styles/statusIndicatorBase.module.css';
}

.ok {
  composes: ok from '../../shared/styles/statusIndicatorBase.module.css';
}

.bad {
  composes: bad from '../../shared/styles/statusIndicatorBase.module.css';
}
